body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.signUp_button {
  position: relative;
  color: purple;
  text-decoration: none;
  margin: 0 0 0 5px;
}

.signUp_button:hover {
  color: rgb(2, 53, 0);
  transition: color 0.3s ease-out 0s;
}

.signUp_button::before,
.signUp_button::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 0;
  border-radius: 5px;
  background: rgba(236, 102, 236, 0.192);
  transition: width 0.3s ease-in-out 0s;
}

.signUp_button::after {
  bottom: -2px;
  left: 0;
}

.signUp_button::before {
  top: 2px;
  right: 0;
}

.signUp_button:hover::before,
.signUp_button:hover::after {
  width: 100%;
}

.user-edit {
  position: absolute;
  top: 90px;
  transition: top 0.3s ease-in-out 0s;
  width: inherit;
  max-height: 450px;
  height: 450px;
  padding: 20px 20px;
}

.user-edit.show {
  top: 560px;
  transition: top 0.3s ease-in-out 0s;
  box-shadow: 0px 0px 10px 2px rgba(255, 153, 0, 0.308);
}

.avatar:hover {
  transform: scale(2);
  transition: transform 0.5s ease-in-out 0s;
}

.avatar.active {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out 0s;
  box-shadow:
    0px 0px 10px 2px rgba(255, 153, 0, 0.8),
    0px 0px 10px 2px rgba(0, 174, 255, 0.8) inset;
  background-color: rgb(122, 119, 119);
}

.pagination-counts {
}

.item-count {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.125);
  /* height: 342px; */
}

.item-count:before {
  position: absolute;
  border-radius: 4px;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: inherit;
  background: rgba(109, 103, 103, 0.15);
  transition: width 0.5s ease 0s;
}

.item-count:hover::before {
  width: 100%;
  transition: width 0.5s ease 0s;
}

.item-count:hover {
  box-shadow:
    0px 0px 10px 2px rgba(0, 204, 255, 0.24),
    0px 0px 10px 2px rgba(208, 255, 0, 0.4) inset;
  border-radius: 4px;
}

.btn-group-settings {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0s;
}

.item-count:hover > .btn-group-settings {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
}

.card-text {
  margin: 5px;
}

.counts-page {
  width: 98%;
  min-height: 94vh;
}

.counts-list {
  transition: transform 0.5s ease-in-out 0s;
}

.counts-add-page {
  background-color: aliceblue;
}

.counts-add-page.active {
  margin: 0;
}

.wrapper-counts-form {
  position: absolute;
  min-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 0.5s ease-in-out 0s movingUp;
  animation-fill-mode: both;
  z-index: 1;
}

.wrapper-counts-form.down {
  animation: 0.5s ease-in-out 0s movingDown;
  animation-fill-mode: both;
}

@keyframes movingUp {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes movingDown {
  from {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.like.appearance {
  animation: appearanceLike 0.5s ease-in-out 0s;
  animation-fill-mode: both;
}

.like {
  animation: disappearanceLike 0.5s ease-in-out 0s;
  animation-fill-mode: both;
}

@keyframes appearanceLike {
  from {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
  to {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disappearanceLike {
  from {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  to {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}
