@import "../node_modules/bootstrap/scss/bootstrap";

// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
$pMargin: 0;


// Required Bootstrap imports
// @import '../node_modules/bootstrap/scss/variables';
// @import "../node_modules/bootstrap/scss/variables-dark";
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");

p {
  margin: $pMargin;
}

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      values: (
        content: fit-content,
        100vw: 100vw,
        90vw: 90vw,
        50vw: 50vw,
        40vw: 40vw,
        10vw: 10vw,
        98: 98%,
        80: 80%,
        90px: 90px,
        150px: 150px,
        130px: 130px,
        300px: 300px,
        500px: 500px,
      ),
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        none: none,
        1200: 1200px,
      ),
    ),
    "height": (
      property: height,
      class: h,
      values: (
        content: fit-content,
        100vh: 100vh,
        100: 100%,
        90vh: 90vh,
        50vh: 50vh,
        40vh: 40vh,
        10vh: 10vh,
        80: 80%,
      ),
    ),
    "min-height": (
      property: min-height,
      class: mh,
      values: (
        96vh: 96vh,
        94vh: 94vh,
        86vh: 86vh,
      ),
    ),
    "margin": (
      property: margin,
      class: m,
      values: (
        20-auto: 20px auto,
      ),
    ),
    "margin-top": (
      property: margin-top,
      class: mt,
      values: (
        6: 3.5rem,
        7: 4rem,
        8: 4.5rem,
      ),
    ),
    "color": (
      property: color,
      class: c,
      values: (
        jack: #043399,
      ),
    ),
    "font-family": (
      property: font-family,
      class: ff,
      values: (
        roboto: "Roboto Slab",
        BS: "Balsamiq Sans",
      ),
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        900: 900,
        400: 400,
      ),
    ),
    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        custom: 4px 4px 10px 1px rgba(0, 0, 0, 0.3),
        appShadow: 0px 0px 10px 2px rgba(0, 211, 255, 0.2),
      ),
    ),
    "border-radius": (
      property: border-radius,
      class: br,
      values: (
        5: 5px,
        10: 10px,
      ),
    ),
    "background-color": (
      property: background-color,
      class: bc,
      values: (
        yellow: rgb(244, 244, 158),
        l-blue: rgba(75, 75, 207, 0.565),
        white: rgb(191, 234, 226),
      ),
    ),
    "white-space": (
      property: white-space,
      class: ws,
      values: (
        nw: nowrap,
      ),
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: ls,
      values: (
        1: 1px,
        2: 2px,
      ),
    ),
    "top": (
      property: top,
      class: top,
      values: (
        110px: 110px,
      ),
    ),
    "left": (
      property: left,
      class: start,
      values: (
        30px: 30px,
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/utilities/api";
