@import "../../node_modules/bootstrap/scss/bootstrap";

// Functions first
@import "../../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
$pMargin: 0;


// Required Bootstrap imports
// @import '../../node_modules/bootstrap/scss/variables';
// @import "../../node_modules/bootstrap/scss/variables-dark";
// @import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/helpers";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");

p {
  margin: $pMargin;
}

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      values: (
        content: fit-content,
        mc: min-content,
        maxc: max-content,
        100vw: 100vw,
        90vw: 90vw,
        50vw: 50vw,
        40vw: 40vw,
        10vw: 10vw,
        98: 98%,
        80: 80%,
        90px: 90px,
        150px: 150px,
        130px: 130px,
        300px: 300px,
        500px: 500px,
        516px: 516px,
        604px: 604px,
        664px: 664px,
        700px: 700px,
      ),
    ),
    "max-width": (
      property: max-width,
      class: mw,
      values: (
        250: 250px,
        268: 268px,
        300: 300px,
        1200: 1200px,
      ),
    ),
    "min-width": (
      property: min-width,
      class: min-w,
      values: (
        210: 210px,
      ),
    ),
    "height": (
      property: height,
      class: h,
      values: (
        content: fit-content,
        mc: min-content,
        i:inherit,
        100vh: 100vh,
        100: 100%,
        90vh: 90vh,
        50vh: 50vh,
        40vh: 40vh,
        10vh: 10vh,
        711px: 711px,
        80: 80%,
      ),
    ),
    "min-height": (
      property: min-height,
      class: mh,
      values: (
        96vh: 96vh,
        94vh: 94vh,
        86vh: 86vh,
        105px: 105px,
        866px: 866px,
      ),
    ),
    "margin": (
      property: margin,
      class: m,
      values: (
        20-auto: 20px auto,
      ),
    ),
    "margin-top": (
      property: margin-top,
      class: mt,
      values: (
        6: 3.5rem,
        7: 4rem,
        8: 4.5rem,
      ),
    ),
    "color": (
      property: color,
      class: c,
      values: (
        jack: #043399,
      ),
    ),
    "font-family": (
      property: font-family,
      class: ff,
      values: (
        roboto: "Roboto Slab",
        BS: "Balsamiq Sans",
      ),
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        900: 900,
        400: 400,
      ),
    ),
    "font-size": (
      property: font-size,
      class: fs,
      values: (
        56px: 56px,
        42px: 42px,
        400: 400,
      ),
    ),
    "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        custom: 4px 4px 10px 1px rgba(0, 0, 0, 0.3),
        appShadow: 0px 0px 10px 2px rgba(0, 211, 255, 0.2),
      ),
    ),
    "border-radius": (
      property: border-radius,
      class: br,
      values: (
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    "border-top-right-radius": (
      property: border-top-right-radius,
      class: btrr,
      values: (
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    "border-bottom-right-radius": (
      property: border-bottom-right-radius,
      class: bbrr,
      values: (
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    "border-bottom-color": (
      property: border-bottom-color,
      class: bbc,
      values: (
        tr: transparent,
      ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      values: (
        yellow: rgb(244, 244, 158),
        l-blue: rgba(75, 75, 207, 0.565),
        white: rgb(191, 234, 226),
        violet: rgb(183, 0, 255),
        orange: rgb(255, 115, 0),
        pink: rgb(255, 0, 212),
        brown: rgb(143, 66, 3),
      ),
    ),
    "white-space": (
      property: white-space,
      class: ws,
      values: (
        nw: nowrap,
      ),
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: ls,
      values: (
        1: 1px,
        2: 2px,
      ),
    ),
    "top": (
      property: top,
      class: top,
      values: (
        110px: 110px,
        94px: 94px,
        7: 7%,
        48: 48%,
      ),
    ),
    "left": (
      property: left,
      class: start,
      values: (
        30px: 30px,
        1: 1%,
        7: 7%,
        24:24%,
      ),
    ),
    "colorText": (
      property: color,
      class: text,
      values: (
        violet: rgb(183, 0, 255),
        orange: rgb(255, 115, 0),
        pink: rgb(255, 0, 212),
        brown: rgb(143, 66, 3),

      ),
    ),
    "btnColor": (
      property: background-color,
      class: btn,
      values: (
        violet: rgb(183, 0, 255),
        orange: rgb(255, 115, 0),
        pink: rgb(255, 0, 212),
        brown: rgb(143, 66, 3),

      ),
    ),
  )
);

@import "../../node_modules/bootstrap/scss/utilities/api";
