@import '../../node_modules/bootstrap/scss/bootstrap';

// Functions first
@import '../../node_modules/bootstrap/scss/functions';

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: 'mo-';
$pMargin: 0;

// Required Bootstrap imports
// @import '../../node_modules/bootstrap/scss/variables';
// @import "../../node_modules/bootstrap/scss/variables-dark";
// @import "../../node_modules/bootstrap/scss/maps";
@import '../../node_modules/bootstrap/scss/mixins';
// @import "../../node_modules/bootstrap/scss/root";

// Optional components
@import '../../node_modules/bootstrap/scss/utilities';
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/helpers";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');

p {
  margin: $pMargin;
}

@include media-breakpoint-only(xs) {
  .nav-profile {
    display: none;
  }
  .menu-profile {
    display: block;
  }
}

@include media-breakpoint-up(sm) {
  .menu-profile {
    display: none;
  }
}

@include media-breakpoint-down(md) { 
  .chartBarForm{
   flex-direction: column;
   width: 180px;
   margin: 0 auto;
  }
  .chartBarContainer{
    margin: 0;
  }
 }


 @media (min-width: 768px) and (max-width: 991.98px) { 
  .chartBarForm{
    width: 650px;
  }
 }



// @media (min-width: 768px) and (max-width: 1199.98px) { ... }
//  @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }
// @include media-breakpoint-only(xxl) { ... }

$utilities: map-merge(
  $utilities,
  (
    'width': (
      property: width,
      class: w,
      values: (
        content: fit-content,
        mc: min-content,
        maxc: max-content,
        100vw: 100vw,
        90vw: 90vw,
        50vw: 50vw,
        40vw: 40vw,
        10vw: 10vw,
        98: 98%,
        97: 97%,
        96: 96%,
        95: 95%,
        80: 80%,
        48px: 48px,
        90px: 90px,
        112px: 112px,
        150px: 150px,
        130px: 130px,
        200px: 200px,
        250px: 250px,
        300px: 300px,
        500px: 500px,
        516px: 516px,
        604px: 604px,
        616px: 616px,
        664px: 664px,
        700px: 700px,
      ),
    ),
    'max-width': (
      property: max-width,
      class: mw,
      values: (
        250: 250px,
        268: 268px,
        300: 300px,
        1200: 1200px,
        1230: 1230px,
      ),
    ),
    'min-width': (
      property: min-width,
      class: min-w,
      values: (
        180px: 180px,
        210px: 210px,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        content: fit-content,
        mc: min-content,
        maxc: max-content,
        i: inherit,
        100vh: 100vh,
        45: 45%,
        100: 100%,
        98vh: 98vh,
        90vh: 90vh,
        88vh: 88vh,
        85vh: 85vh,
        80vh: 80vh,
        50vh: 50vh,
        40vh: 40vh,
        10vh: 10vh,
        70px: 70px,
        50px: 50px,
        48px: 48px,
        100px: 100px,
        120px: 120px,
        300px: 300px,
        711px: 711px,
        730px: 730px,

        80: 80%,
      ),
    ),
    'min-height': (
      property: min-height,
      class: mh,
      values: (
        i: inherit,
        75vh: 75vh,
        80vh: 80vh,
        84vh: 84vh,
        86vh: 86vh,
        87vh: 87vh,
        88vh: 88vh,
        89vh: 89vh,
        90vh: 90vh,
        94vh: 94vh,
        96vh: 96vh,
        98vh: 98vh,
        105px: 105px,
        352px: 352px,
        790px: 790px,
        866px: 866px,
        872px: 872px,
        880px: 880px,
        989px: 989px,
      ),
    ),
    'max-height': (
      property: max-height,
      class: maxh,
      values: (
        i: inherit,
        86vh: 86vh,
        90vh: 90vh,
        95vh: 95vh,
        94vh: 94vh,
        96vh: 96vh,
        105px: 105px,
        352px: 352px,
        866px: 866px,
        872px: 872px,
        880px: 880px,
        989px: 989px,
      ),
    ),
    'margin': (
      property: margin,
      class: m,
      values: (
        20-auto: 20px auto,
      ),
    ),
    'margin-top': (
      property: margin-top,
      class: mt,
      values: (
        6: 3.5rem,
        7: 4rem,
        8: 4.5rem,
        9: 5rem,
        10: 5.5rem,
      ),
    ),
    'padding-bottom': (
      property: padding-bottom,
      class: pb,
      values: (
        1px: 1px,
        2px: 2px,
        5px: 5px,
        6: 3.5rem,
        7: 4rem,
        8: 4.5rem,
      ),
    ),
    'font-family': (
      property: font-family,
      class: ff,
      values: (
        roboto: 'Roboto Slab',
        BS: 'Balsamiq Sans',
      ),
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: (
        900: 900,
        400: 400,
      ),
    ),
    'font-size': (
      property: font-size,
      class: fs,
      values: (
        12px: 12px,
        24px: 24px,
        42px: 42px,
        56px: 56px,
        400: 400,
      ),
    ),
    'border-radius': (
      property: border-radius,
      class: br,
      values: (
        0: 0px,
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    'border-top-right-radius': (
      property: border-top-right-radius,
      class: btrr,
      values: (
        3: 3px,
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    'border-top-left-radius': (
      property: border-top-left-radius,
      class: btlr,
      values: (
        3: 3px,
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    'border-bottom-right-radius': (
      property: border-bottom-right-radius,
      class: bbrr,
      values: (
        5: 5px,
        10: 10px,
        50: 50px,
      ),
    ),
    'border-bottom-color': (
      property: border-bottom-color,
      class: bbc,
      values: (
        tr: transparent,
      ),
    ),
    'white-space': (
      property: white-space,
      class: ws,
      values: (
        nw: nowrap,
      ),
    ),
    'letter-spacing': (
      property: letter-spacing,
      class: ls,
      values: (
        1: 1px,
        2: 2px,
      ),
    ),
    'line-height': (
      property: line-height,
      class: lh,
      values: (
        0: 0px,
      ),
    ),
    'top': (
      property: top,
      class: top,
      values: (
        94px: 94px,
        100px: 100px,
        105px: 105px,
        110px: 110px,
        7: 7%,
        20: 20%,
        48: 48%,
        60: 60%,
      ),
    ),
    'left': (
      property: left,
      class: start,
      values: (
        20px: 20px,
        25px: 25px,
        30px: 30px,
        1: 1%,
        3: 3%,
        5: 5%,
        6: 6%,
        7: 7%,
        24: 24%,
      ),
    ),
    'right': (
      property: right,
      class: end,
      values: (
        30px: 30px,
        1: 1%,
        2: 2%,
        3: 3%,
        5: 5%,
        6: 6%,
        7: 7%,
        24: 24%,
      ),
    ),
    'bottom': (
      property: bottom,
      class: bottom,
      values: (
        30px: 30px,
        1: 1%,
        2: 2%,
        3: 3%,
        5: 5%,
        6: 6%,
        7: 7%,
        15: 15%,
        17: 17%,
        24: 24%,
        100: 100%,
        130: 130%,
      ),
    ),
    'colorText': (
      property: color,
      class: text,
      values: (
        violet: rgb(183, 0, 255),
        orange: #ff7300,
        pink: rgb(255, 0, 212),
        brown: rgb(143, 66, 3),
        yellow: #f4f49e,
        indigo: #6610f2,
        purple: #6f42c1,
        pinkLight: #d63384,

        blue: #052c65,
        gray: #2b2f32,
        yellowDark: #664d03,
        red: #58151c,
        orangeLight: #fd7d14c7,
        green: #0a3622,
        teal: #5468ff,
        cyan: #712cf9,
      ),
    ),
    'btnColor': (
      property: background-color,
      class: btn,
      values: (
        violet: rgb(183, 0, 255),
        orange: rgb(255, 115, 0),
        pink: rgb(255, 0, 212),
        brown: rgb(143, 66, 3),
        yellow: #f4f49e,

        indigo: #6610f2,
        purple: #6f42c1,
        pinkLight: #d63384,

        blue: #052c65,
        gray: #2b2f32,
        yellowDark: #664d03,
        red: #58151c,
        orangeLight: #fd7d14c7,
        green: #0a3622,
        teal: #5468ff,
        cyan: #712cf9,
      ),
    ),
    'background-color': (
      property: background-color,
      class: bg,
      values: (
        yellow: #f4f49e,
        l-blue: rgba(75, 75, 207, 0.565),
        placeholders: rgba(122, 122, 148, 0.63),
        modal: rgba(199, 188, 37, 0.233),
        white: rgb(191, 234, 226),
        violet: #b700ff,
        orange: #ff7300,
        pink: #ff00d4,
        brown: #8f4203,
        indigo: #6610f2,
        purple: #6f42c1,
        pinkLight: #d63384,
        blue: #052c65,
        gray: #2b2f32,
        yellowDark: #664d03,
        red: #58151c,
        orangeLight: #fd7d14c7,
        green: #0a3622,
        teal: #5468ff,
        cyan: #712cf9,
        paper: rgba(148, 147, 146, 0.3),
        transparent: transparent,
        app: rgba(249, 249, 229, 0.392)
      ),
    ),
    'shadow': (
      property: box-shadow,
      class: shadow,
      values: (
        custom: 4px 4px 10px 1px rgba(0, 0, 0, 0.3),
        appShadow: 0px 0px 10px 2px rgba(0, 211, 255, 0.2),
        modal: 0px 0px 10px 2px rgba(0, 213, 255, 0.747),
        danger: 0px 0px 10px 1px rgba(255, 0, 0, 0.692),
        success: 0px 0px 10px 1px rgba(43, 255, 0, 0.678),
      ),
    ),
  )
);

@import '../../node_modules/bootstrap/scss/utilities/api';
